{
  "presets": ["es2015-rollup", "react"],
  "plugins": ["transform-decorators-legacy", "transform-flow-strip-types", "transform-class-properties", "transform-object-rest-spread", "transform-regenerator"]
}
