{
    "presets": [
          ["env", {
                "targets": {
                    "node": "8"
                }
          }]
      ],
    "plugins": ["transform-decorators-legacy", "transform-class-properties"]
}
